<!-- <h1>Welcome to {{hotelName}}</h1> -->
<hinv-header></hinv-header>
<!-- <hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header> -->
<!-- <hinv-rooms></hinv-rooms> -->

<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
        Welcome User
    </div>
    <div *ngSwitchCase="'Admin'">
        Welcome Admin
        <hinv-rooms></hinv-rooms>
    </div>
    <div *ngSwitchDefault>
        You are not authorized to view this page
    </div>
</div> -->

<!-- <div>
    <ng-template #user></ng-template>
</div> -->

<!-- <div #name></div> -->

<hinv-container>
    <hinv-rooms></hinv-rooms>
    <hinv-employee></hinv-employee>
    <!-- Content within these tags override the content within hinv-container -->
    <h1>This is from ng-content</h1>
</hinv-container>