<div [hidden]="hideRoomsInfo">Number of rooms: 
    <span [ngStyle]="{
        color: 'red'
    }" [innerText]="numberOfRooms"></span>
    <!-- Property binding: bind an HTML property to JS value -->
</div>

<!-- <div>{{roomList | json}}</div> -->
<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<div *ngIf="!hideRoomsInfo && rooms.available > 0">
    <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)" [title]="title"></hinv-rooms-list>
</div>

<button (click)="toggle()">{{hideRoomsInfo ? "Show" : "Hide"}} Rooms Info</button>
<div>
    <button (click)="addRoom()">Add Room</button>
</div>
